/* CSS files add styling rules to your content */

body {
  font-family: Georgia, serif;
  margin: 2em;
  background-color: #b3cccc;
  color: #333333;
}

div#main {
  margin: 10px auto 100px;
  width: 100%;
}

h1 {
  font-style: italic;
  color: #ffffff;
  font-size: 2em;
}

img {
  width: 100%;
}

h2 {
  font-style: italic;
  color: #ffffff;
  margin-top: 30px;
}

p.subheading {
  font-size: 0.9em;
  font-style: italic;
  color: #777777;
  margin-bottom: 30px;
}

hr {
  border: 1px solid #edd1e0;
  margin-bottom: 40px;
  margin-top: 50px;
}

a {
  color: #ffffff
}

/* Desktop stuff */

@media only screen and (min-width: 800px) {
  div#main {
    width: 70%;
  }
  h1 {
    font-size: 4em;
  }
  img {
    width: 60%;
  }
}